:root{
  --very-dark-grey: hsl(0, 0%, 17%);
  --dark-grey: hsl(0, 0%, 59%);
}

*,::before,::after{
  box-sizing: border-box;
}

body{
  font-size:18px;
  font-family: 'Rubik'
}

/* TABLET SIZING */
@media (min-width: 640px){

}

/* DESKTOP SIZING */
@media (min-width: 1000px){

}