@tailwind base;
@tailwind components;
@tailwind utilities;
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Public Sans", sans-serif;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

.gradient-background {
  background: linear-gradient(to left, rgb(43, 183, 218), rgb(49, 211, 92));
  color:white;
}

.gradient-dark-background{
  background: linear-gradient(rgb(0, 0, 0, 0.75) 50%, rgb(255, 255, 255, 0.5));
}